<header id="sub-header">   
    <p>Sms lån som beviljar alla - En jämförelsetjänst från TribuSoft AB<a href="tel:076 869 50 60">|<i class="fas fa-phone"></i>076 869 50 60</a> <a href="mailto:alexander@tribusoft.se">|<i class="fas fa-envelope-open-text"></i>alexander@tribusoft.se</a></p>
</header>

<header id="site-header">
    <div class="container">
        <div class="row">
            <div class="logo col-lg-5 col-12">
                <img src="{{ theme.link }}/static/img/logo.svg">
                <a href="/" class="logo-text">Sms lån som beviljar alla</a>
            </div>

            <nav class="nav-menu col-lg-6 col-12">

                <div class="mobile-nav-logo col-12">
                    <img src="{{ theme.link }}/static/img/logo.svg">
                    <p class="logo-text">Sms lån som beviljar alla</p>
                </div>

                <ul class="nav-main">
                    {% for item in site_header_menu.items %}
                        <li class="nav-main-item {{ dropdown }} {{ item.classes|join(' ') }}">
                            {% if item.children %}
                                {% if item.link %}
                                    <a class="nav-main-link h5" href="{{ item.link }}">{{ item.title }}</a>
                                {% else %}
                                    <p class="nav-main-link h5">{{ item.title }}</p>
                                {% endif %}
                                <i class="fas fa-angle-down fa-lg"></i>
                                
                                <ul class="nav-drop">
                                    {% for child in item.children %}
                                        <li class="nav-drop-item">
                                            <a class="h6" href="{{ child.link }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <a class="nav-main-link h5" href="{{ item.link }}">{{ item.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <div id="mobile-menu-footer">
                    <p class="title">Kontakta oss</p>
                    <p class="footer-links"><i class="fas fa-phone"></i><a href="tel:076 869 50 60">076 869 50 60</a></p>
                    <p class="footer-links"><i class="fas fa-envelope-open-text"></i><a href="mailto:alexander@tribusoft.se">alexander@tribusoft.se</a></p>
                </div>
            </nav>
        </div>
    </div>
</header>

<div id="fade-filter"></div>

<button id="site-header-toggle"> 
    <i class="fas fa-bars fa-2x"></i>
</button>